
.editor-container {
  position:relative;
  height:90%;
}

#editor {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.marker-highlight-error {
  position:absolute;
  border-bottom:dashed 1px red;
  z-index:1000;
}
